body {
    width:  800px;
    margin: auto;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

img {
    width: 60px;
    height: 100px;
}

a {
    color: green;
}

table.items {
    border: solid 1px black;
    margin: auto;
    border-radius: 25px;
    padding : 6px;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
}

p {
    margin-top: 40px;
    margin-bottom: 40px;;
}

.items-ordered-list {
    font-size: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
}

footer.div.hide-me {
    display: none;
}

.hidden {
    visibility: hidden;
}

td {
    border: 1px solid green;
}

/*
table {
    border-collapse: collapse;
}

tr {
    border-style: dotted;
    border-color: red;
}
*/

/*
CSS EXERCISES

11) Give a maximum width to the body and center it into the page - DONE
12) Set every h1 to be centered - DONE
13) Change the color of each link in the page - DONE
14) Create a class with a border assigned to it - DONE
15) Set the previously created table to have rounded corners - DONE
16) Add a margin between every paragraph - DONE
17) Create a class which changes font size and text weight when applied - DONE
18) Create a class to hide a piece of content - DONE
19) Add a green border to each <td> - DONE
20) Add a dotted red border to each <tr> (note: <tr> does not accept a border property) - DONE
*/ 